---
import Layout from "../../layouts/Layout.astro";
import PokeCard from "../../components/PokeCard.astro";
import Pages from "../../components/Page.astro";
import type { listPokemon, pokemon } from "../../../interface/interface";

export async function getStaticPaths() {
    const paths = [];
    for (let i = 1; i <= 30; i++) {
        paths.push({ params: { page: i.toString() } });
    }
    return paths;
}

const { page } = Astro.params;
const limit = 50;
const offset = (Number(page) - 1) * limit;

const response = await fetch(
    `https://pokeapi.co/api/v2/pokemon?limit=${limit}&offset=${offset}`,
);
const pokemonList: listPokemon = await response.json();
const detailedPokemonList: pokemon[] = await Promise.all(
    pokemonList.results.map(async (pokemon) => {
        const res = await fetch(pokemon.url);
        return await res.json();
    }),
);
---

<Layout title="Pokemon" />
<main class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-9">
    {
        detailedPokemonList.map((pokemon: pokemon) => (
            <a href={`/info/${pokemon.id}`}>
                <PokeCard
                    name={pokemon.name}
                    sprite={pokemon.sprites.front_default}
                />
            </a>
        ))
    }
    <Pages />
</main>
